DDONE_APP_PORT=3000

DDONE_DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/ddone_auth?sslmode=disable
DDONE_REDIS_URL=redis://127.0.0.1:6379/0

DDONE_SECURITY_AUTH_ISSUER=ddone-server-auth
DDONE_SECURITY_AUTH_AUDIENCE=ddone-clients
DDONE_SECURITY_AUTH_SESSION_COOKIE_SECURE=true

DDONE_WENOVA_TOKEN=replace-me
